 /* To identify any selector easily, use outline: 1px solid red; */


/* Main Heading — Smallest*/

.jumbotron-fluid {
  background-image: url("img/small-background.jpg");
  background-color: palevioletred;
}

h1 {
  color: white;
  font-size:35px;
  font-weight:bold;
  letter-spacing: 5px;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px palevioletred;
}

/* H2 Headings*/
.h2-title {
  border-bottom: 3px solid lightblue;
  padding-top: 60px;
  padding-bottom: 15px;
  line-height: .5em;
}

/* Navigation Bar */
ul {
  list-style-type: none;
  width: 100%;
  overflow: auto;
  margin: 0px;
  padding: 25px;
}

li a {
  color: black;
  width: 10%; /* Five links of equal widths */
  text-decoration: none;
  font-size: 25px;
  font-weight: lighter; 
  padding: .5rem;
}

 /* mouse over the rows*/
 li a:hover {
  background-color: lightpink;
}

/* Main Section of Webpage*/
main {
  margin: 5px 25px 5px 25px;
  font-family: 'Roboto',sans-serif; 
  font-size: 25px;
  font-weight: 400;
}

/* Under the Nav Bar Title for pages: Home & Recipies */
.under-nav h1 {
  color: black;
  font-size: 40px;
  text-align:center;
  text-shadow: none;
}

/* Home Page: Monthly Recipie Cards */
.wrap {
  margin:2rem;
  grid-gap:5rem;
}

.first-card {
  overflow:hidden;
  border-radius: var(--radius);
  display:flex;
  grid-column: 1/4;
  flex-direction:column;
  justify-content:space-between;
  cursor:pointer;
}

.first-card-image {
  height:40rem;
  width: 100%;
  object-fit:cover;
}

.card {
  overflow:hidden;
  border-radius: var(--radius);
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  cursor:pointer;
}

.card-image{
  height:25rem;
  width:100%;
  object-fit:cover;
}

.card-title {
  padding:1rem;
}

.card-description {
  padding:0 1rem;
  border-bottom:none;
  font-weight: lighter;
}

.card-btn {
  padding:1rem;
  font-weight:bold;
  font-size:2x;
  margin:1rem;
  border: 2px solid lightblue;
  background:transparent;
  color: lightblue;
  border-radius: var(--radius);
  transition:200ms ease-in; 
}

.card-btn:hover {
  background:lightblue;
  color:white;
}

/* Footer */
.page-footer {
  border-top: 3px solid lightpink;
  padding: 1rem;
  margin: 5px 10px 5px 10px;
  font-family: 'Roboto',sans-serif; 
  font-size: 20px;
  font-weight: lighter;
} 

/* Page for About — Containers*/
.container-about {
  display: grid;
  grid-template-columns:repeat(3 1fr);
}

#content1-introduction {
  grid-column: 1/3;

}

#content2-profile {
  grid-column: 3/4;
}

#content3-buffy {
  grid-column: 1/3;
}

#content4-about-buffy {
  grid-column: 3/4;
}

#content5-consider-baking {
  grid-column: 1/4;
}

/* Page for About — Images */
.about-buffy {
  display:block;
  border-radius:50%;
  height:25rem;
  padding:2rem;
}

.about-img {
  display:block;
  border-radius:55%;
  height:20rem;
  padding:2rem;
  margin: 50px 0px 10px 70px;
}

/* Page for the Recipes */
.container-recipes {
  display:grid;
  grid-template-columns:repeat(3, 1fr);
  grid-template-rows: repeat(1,1fr);
  grid-gap: 1rem;
  grid-template-areas: 
    "content1 content1 content1"
    "content3 content3 content2"
    "content4 content4 content4"
    "content5 content5 content6"
    "content7 content7 content7"
    "content9 content8 content8"
    "content10 content10 content11"
}

/* Page for the Recipes - Beginner */
#content1-beginner-recipes {
  grid-area:content1;
}

#content2-scones-recipes {
  grid-area:content2;
}

#content3-scones-img-recipes {
  grid-area:content3;
}

/* Page for the Recipes - Challenging*/
#content4-challenging-recipes{
  grid-area:content4;
}

#content5-bars-recipes {
  grid-area:content5;
}

#content6-bars-img-recipes {
  grid-area:content6;
}

/* Page for the Recipes - Holiday*/

#content7-holiday-recipes{
  grid-area:content7;
}

#content8-tamales-recipes{
  grid-area:content8;
}

#content9-tamales-img-recipes{
  grid-area:content9;
}

#content10-buns-recipes{
  grid-area:content10;
}

#content11-buns-img-recipes{
  grid-area:content11;
}

/* Page for Recipes — Images */
.scones {
  border-radius:50%;
  height:25rem;
  padding:2rem;
}
.bars {
  border-radius:50%;
  height:25rem;
  padding:2rem;  
}

.tamales {
  border-radius:50%;
  height:25rem;
  padding:2rem; 
}

.buns {
  border-radius:50%;
  height:25rem;
  padding:2rem; 
}

/* Page for Tools */

/* Button*/
.tool-btn {
  padding:1rem;
  font-weight:bold;
  font-size:1x;
  margin:1rem;
  border: 2px solid pink;
  background:transparent;
  color: lightblue;
  transition:200ms ease-in; 
}

.tool-btn:hover {
  background:pink;
  color:white;
}

/*List of Tools*/
li {
  font-weight: bold;
}

p {
  font-weight: lighter;
}

/* Media Query - 598px */
@media(min-width: 598px) {
/* Header */
  .jumbotron-fluid {
    background-image: url("img/background-spatulas.jpg");
    background-position:cover;
    background-size:cover;
    background-color: palevioletred;
    padding:5rem;
  }

/* Navigation Bar */
ul {
  list-style-type: none;
  width: 100%;
  overflow: auto;
  margin: 0px;
  padding: 25px;
}

li a {
  color: black;
  width: 10%; /* Five links of equal widths */
  text-decoration: none;
  font-size: 25px;
  font-weight: lighter; 
  padding: .5rem;
}

 /* mouse over the rows*/
 li a:hover {
  background-color: lightpink;
}

}

  /* Media Query - 768px */
@media(min-width: 768px) {

  /* Header*/
  .jumbotron-fluid {
    background-image: url("img/background-sprinkles.webp");}

  h1 {
    font-size:75px;
    outline:3px solid white;
    font-weight:50;
    text-shadow:none;
  }

    /* Nav Bar*/
  ul {
    list-style-type: none;
    width: 100%;
    overflow: auto;
    margin: 0px;
    padding: 25px;
  }
    
  li a {
    float: left;
    color: black;
    width: 25%; /* Five links of equal widths */
    text-decoration: none;
    font-size: 30px;
    font-weight: 300; 
    border-bottom: 1px solid black;
    padding: .5rem;
    text-align: center;
  }
    
  /* mouse over the rows*/
  li a:hover {
    background-color: lightblue;
  }

/* Under the Nav Bar Title for pages: Home & Recipies */

.under-nav h1 {
  color:black;
  font-size:40px;
  text-align:left;
}

/* Home Page: Monthly Recipie Cards */
.wrap {
  margin:2rem;
  display:grid;
  grid-gap:2rem;
}
  }

  /* Media Query - 1200px */
@media(min-width: 1200px) {

   /* Header*/
  .container h1{
    font-size: 150px;
    font-weight: 50;
  }
  
  }