 /* To identify any selector easily, use outline: 1px solid red; */
/*image*/
h1 {
  background-image: url("img/background-sprinkles.webp");
  height: 350px; /* You must set a specified height */
  background-size: cover;
  position: relative;
  color: white;
  font-family: 'Roboto',sans-serif;
  font-weight: 200; 
  font-size: 150px;
  text-align: center;
}
/* Note: I want to make css rules are for all the other headers on the other pages. For some reason this is causing issues.*/

main, body,h2,h3 {
  font-family: 'Roboto',sans-serif; 
  font-size: 30px;
  font-weight: 300;
}

ul {
list-style-type: none;
width: 100%;
overflow: auto;
  }
  
li a {
  float: left;
  padding: 20px 22px;
  color: black;
  width: 20%; /* Five links of equal widths */
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  font-weight: 300; 
  border-bottom: 1px solid black;
  padding: .5em;
}
  
/* mouse over the rows*/
li a:hover {
  background-color: lightblue;
}

h2{
  text-align: center;
}