 /* To identify any selector easily, use outline: 1px solid red; */
/*image*/

/* Headers*/
.jumbotron-fluid {
  background-image: url("img/background-sprinkles.webp");
  background-size: cover;
  background-color: white;
  padding: 100px;
}

h1 {
  color: white;
  font-family: 'Arial',sans-serif;
  font-size: 600px;
  font-weight: 200;
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 2px palevioletred;
  outline: 3px solid white;
}

.under-nav {
  display: flex;
  padding: 50px 25px 50px;
}

.under-nav h1 {
  color: black;
  font-size: 55px;
}
/* Note: I want to make css rules for all the other headers on the other pages. For some reason this is causing issues.*/

main {
  font-family: 'Roboto',sans-serif; 
  font-size: 25px;
  font-weight: 400;
  text-align: center;
}

h2 {
  border-bottom: 3px solid lightblue;
  padding-top: 60px;
  padding-bottom: 15px;
  line-height: .5em;
}

/* Navigation*/
ul {
  list-style-type: none;
  width: 100%;
  overflow: auto;
  margin: 0px;
  padding: 25px;
}
  
li a {
  float: left;
  color: black;
  width: 25%; /* Five links of equal widths */
  text-decoration: none;
  font-size: 30px;
  font-weight: 300; 
  border-bottom: 1px solid black;
  padding: .5rem;
  text-align: center;
}
  
/* mouse over the rows*/
li a:hover {
  background-color: lightblue;
}

h2 {
  text-align: center;
}

/* Home Page Monthly Recipies */

.wrap {
  margin:2rem;
  display:grid;
  grid-template-columns: repeat (auto-fit, minmax(12rem, 16rem));
  grid-gap: 2rem;
  justify-content:center;
}

.card {
  overflow:hidden;
  box-shadow:0px 2px 20px var(--clr-gray200);
  border-radius: var(--radius);
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  cursor:pointer;
  transition:transform 200ms ease-in;
}


/* Page for the Recipies */

.grid-container {
  display:grid;
  background-color: peachpuff;
  gap: 50px;
  font-size: 20px;
}

.item1 {
grid-column: 1;
}

.item2 {
  grid-column: 1;
  font-size: 15px;
}


.item3 {
  grid-row: 2;
  grid-column: 2/4;
}

/* Media Query - 598px */
@media(min-width: 598px) {

/* Header*/
.jumbotron-fluid {
    background-image: url("img/background-spatulas.jpg");
    background-size: cover;
  }
  
h1 {
    color: white;
    text-align: left;
    font-size: 50px;
    padding: 25px;
  }
  }

  /* Media Query - 768px */
@media(min-width: 768px) {

  /* Header*/
  .jumbotron-fluid {
      background-image: url("img/background-sprinkles.webp");
      background-position: center;
      background-size: cover;
  }
  h1 {
    color: white;
    text-align: center;
  }
  }